.PageItemContainer {
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.3);
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
}

.PageItemTitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.PageItemDescriptionSection {
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    max-height: 100%;
    align-items: center;
}

.PageItemIcon {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}